body {padding: 0; margin: 0;}
button {margin: 0;}
h1 {padding: 0; margin: 0;}
p {padding: 0; margin: 0;}
#races {display: none;}
#game {height: 100%; width: 100%; display: none;}
#give_karma {display: none;}
#event {display: none;}
#skip_button {display: none;}
#play_button {display: block;}
	
div.dodo {background: #808000;}
div.elephant_bird {background: #008000;}
div.lesser_bilby {background: #784421;}
div.irish_elk {background: #4D4D4D;}
div.mammoth {background: #008080;}
div.quagga {background: #D45005;}